.bash_history
.CFUserTextEncoding
.dbshell
.buildpath
.DS_Store
.gitk
.lesshst
.maintenance_mode
.mongorc.js
.mysql_history
.netrc
.netrwhist
.profile
.project
.pydevproject
.pypirc
.rnd
.settings
.sh_history
.viminfo
.Xauthority
.zcompdump*
.zshrc.pre-oh-my-zsh
.zsh_history
.zsh-update
Dropbox
nbproject

*.swp
*.app
*.rdb

.autobahn/
.cache/
.config/
.cups/
.dropbox/
.dropbox-master/
.emacs.d/
.gem/
.heroku/
.ievms/
.ipython/
.irssi/
.local/
.macports/
.npm/
.oh-my-zsh/
.pip/
.python-eggs/
.ssh/
.subversion/
.Trash/

.vim/.VimballRecord
.vim/autoload/
.vim/backup/
.vim/bundle/
.vim/colors/
.vim/doc/
.vim/ftplugin/
.vim/nerdtree_plugin/
.vim/plugin/
.vim/ruby/
.vim/syntax/

Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Dropbox (Elastic)/
Library/
mongodb/data/
Movies/
Music/
Pictures/
Public/
Repos/
VirtualBox VMs/
apmplanner2/
elasticsearch/
tmp/
