# Irrelevant dotfiles 
.bash_history
.CFUserTextEncoding
.dbshell
.buildpath
.DS_Store
.gitk
.lesshst
.maintenance_mode
.mongorc.js
.mysql_history
.netrc
.netrwhist
.profile
.project
.pydevproject
.pypirc
.rnd
.settings
.sh_history
.viminfo
.Xauthority
.zcompdump*
.zshrc.pre-oh-my-zsh
.zsh_history
.zsh-update
.atom/
.aws/
.bash_profile
.bashrc
.fbPager.log
.fbPager.pickle
.fbPager.sh
.irb-history
.lldb-history
.mkshrc
.mongorc.js.orig
.node-gyp/
.oracle_jre_usage/
.psql_history
.python_history
.rvm/
.sqlite_history
.tox/
.vagrant.d/
.zlogin
.autobahn/
.cache/
.config/
.cups/
.dropbox/
.dropbox-master/
.emacs.d/
.gem/
.heroku/
.ievms/
.ipython/
.irssi/
.local/
.m2/
.macports/
.npm/
.oh-my-zsh/
.pip/
.python-eggs/
.ssh/
.subversion/
.Trash/
.vim/.VimballRecord
.vim/autoload/
.vim/backup/
.vim/bundle/
.vim/colors/
.vim/doc/
.vim/ftplugin/
.vim/nerdtree_plugin/
.vim/plugin/
.vim/ruby/
.vim/syntax/

# Junk
*.swp
*.app
*.rdb

# Irrelevant folders
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Dropbox (Elastic)/
Library/
go/
mongodb/
redis/
mysql/
Movies/
Music/
Pictures/
Public/
Repos/
Sites/
VirtualBox VMs/
apmplanner2/
elasticsearch/
maven/
tmp/
Dropbox/
nbproject/

# Logs
access.log
error.log
